<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developerfriendlypizzalibrary" >

    <application>
        <activity android:name=".ui.PizzaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity"
            android:excludeFromRecents="true"/>
    </application>

</manifest>
